{% extends "base/center_card.html" %}
{% load static widget_tweaks %}

{% block title %}Login{% endblock %}

{% block card_header_content %}
  <h3>Login</h3>
{% endblock %}

{% block card_body_content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Incorrect username or password.</strong>
    </div>
  {% endif %}

  <form method="post" action="{% url 'auth:login' %}">
    {% csrf_token %}
    {% render_field form.username class="form-control my-4" placeholder="Username" %}
    {% render_field form.password class="form-control my-4" placeholder="Password" %}

    <div class="row">
      <div class="col d-flex justify-content-center">
        {% render_field form.remember_me type="checkbox" class="form-check-input mx-1" %} Remember me
      </div>
      <div class="col">
        <a id="id_forgot_password" href="{% url 'auth:password-reset' %}">Forgot your password?</a>
      </div>
    </div>

    <button id="id_submit" type="submit" class="btn btn-primary w-100 mt-4">Log In</button>
    <hr class="my-4">
    <div class="text-center text-muted">
      Don't have account yet? <a id="id_signup" href="{% url 'signup:new-user' %}">Sign up</a>
    </div>
  </form>
{% endblock %}
