{% extends "base/center_card.html" %}
{% load static widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block card_header_content %}
  <h3>Reset Your Password</h3>
{% endblock %}

{% block card_body_content %}
  <p>Please enter the email address associated with your account. An email will be sent with instructions for resetting your password.</p>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger px-2">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      {% render_field form.email class="form-control" placeholder="Email" %}
    </div>
    <div class="mb-3">
      <button id="id_submit" type="submit" class="btn btn-primary w-100">Request A New Password</button>
    </div>
  </form>
{% endblock %}

