{% extends "layouts/center_card.html" %}
{% load static widget_tweaks %}

{% block title %}Login{% endblock %}

{% block card_header_content %}
  <h3>Login</h3>
{% endblock %}

{% block card_body_content %}
  {% if form.errors %}
    <div id="id_login_error" class="alert alert-danger">
      Incorrect username or password.
    </div>
  {% endif %}

  <form method="post" action="{% url 'auth:login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label">Username</label>
      {% render_field form.username class="form-control" %}
    </div>
    <div class="mb-4">
      <label for="id_password" class="form-label">Password</label>
      {% render_field form.password class="form-control" %}
    </div>
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        {% render_field form.remember_me type="checkbox" class="form-check-input" %}
        <label class="form-check-label mx-1" for="id_remember_me">Remember me</label>
      </div>
      <div class="col">
        <a id="id_forgot_password" href="{% url 'auth:password-reset' %}">Forgot your password?</a>
      </div>
    </div>
    <button id="id_submit" type="submit" class="btn btn-primary w-100 mb-2">Log In</button>
    <hr class="mb-3">
    <div class="text-center text-muted">
      Don't have account yet? <a id="id_signup" href="{% url 'signup:new-user' %}">Sign up</a>
    </div>
  </form>
{% endblock %}
