{% load static django_bootstrap5 %}

<header class="navbar navbar-expand-md navbar-light">
  <div class="container-xl">

    <h1 class="navbar-brand">
      <a href="{% url 'home' %}">
        <img src="{% static 'logos/svg/logo-no-background.svg' %}" alt="Fig-Tree" class="navbar-brand-image" width="110" height="32">
      </a>
    </h1>

    <div class="navbar-nav flex-row order-md-last">
      {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'auth:login' %}">Login</a>
      {% endif %}
    </div>

  </div>
</header>