<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <span class="nav-link-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <span class="nav-link-title">Insights</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <span class="nav-link-title">My Data</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'albums:album-list' %}">
              <span class="nav-link-title">Albums</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notes:list' %}">
              <span class="nav-link-title">Notes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>