{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}FigTree{% endblock %}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="description" content="Fig-Tree data management platform for genealogical research."/>
  <meta name="keywords" content="FigTree data management genelogy research web platform"/>

  <!-- Style and favicon -->
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extrahead %}{% endblock extrahead %}
</head>

<body>

  <main>
    {% block content %}{% endblock content %}
  </main>

  {% block extra_js %}{% endblock extra_js %}
</body>

</html>
