{% extends 'layouts/base.html' %}
{% load static %}

{% block main_content %}
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card">

          {% block card_header %}
            <div class="card-header">
              {% block card_header_content %}{% endblock %}
            </div>
          {% endblock %}

          {% block card_body %}
            <div class="card-body p-4">
              {% block card_body_content %}{% endblock %}
            </div>
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
